@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

.App {
  background-color: $default-background;
  color: white;
  font-family: $default-font-family;
  font-size: 1rem;
  padding: 1rem 0;
  text-transform: uppercase;
  @media (min-width: 992px) {
    height: 100vh;
  }
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // width: 100vw;
    // padding: 1rem;
  }

  .game-rules-btn {
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    transition: all 0.2s ease-in-out;
    @media (min-width: 992px) {
      align-self: flex-end;
    }
  }
}
