@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1366px

// ## Colors

// ### Primary

$scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$paper-gradient: linear-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%));
$rock-gradient: linear-gradient(hsl(0, 2%, 10%) , hsl(349, 70%, 56%));
$lizard-gradient: linear-gradient(hsl(261, 73%, 60%) , hsl(261, 72%, 63%));
$cyan-gradient: linear-gradient(hsl(189, 59%, 53%) , hsl(189, 58%, 57%));

$scissors: hsl(39, 89%, 49%);
$paper: hsl(230, 89%, 62%);
$rock: hsl(349, 71%, 52%);
$lizard: hsl(261, 73%, 60%);
$spock: hsl(189, 59%, 53%);

// ### Neutral

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

// ### Background
// ### Background
 $default-background: hsl(214, 47%, 23%);

// $radial-gradient: repeating-radial-gradient(white,hsl(214, 47%, 23%) 1rem, hsl(237, 49%, 15%) 1rem, hsl(237, 49%, 15%) 2rem);

// ## Fonts

$default-font-family: 'Barlow Semi Condensed', sans-serif;
// - Weights: 600, 700
